.row .rowSlider {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card-categoria {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img {
  margin-top: 10%;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.nameCat {
  color: #000;
  text-transform: uppercase;
  font-size: 1.2em;

}

.cardLong {
  border-radius: 20px;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img-long {
  height: auto;
  width: 60%;
  margin-left: 17%;
}

.img-servicio {
  width: 25%;
}

.pointer {
  cursor: pointer;
}

.titulo-mas-vendidos {
  font-size: 4vh;
  margin-top: 3%;
}

.card-producto {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-height: 510px;
  min-height: 510px;
}

.body-producto {
  background-color: #E9E9E9;
  border-radius: 0px 0px 20px 20px;

}

.card-body-tiendas {
  text-align: center;
  background-color: #e9e9e965;
  border-radius: 0px 0px 20px 20px;

}



.btn-comprar-producto {
  background-color: #fd9f48;
  padding: 0.6em 2em;
  color: black;
  border-radius: 20px;
  border-color: #fd9f48;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn-price-holder {
  margin: 4%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-tienda-holder {
  margin: 4%;
  position: absolute;
  bottom: 0;
  left: 125px;
}

.card-tienda {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-height: 260px;
  min-height: 260px;
}

.img-tienda {
  border-radius: 20px;
}

.btn-visitar-tienda {
  background-color: #3d81d2;
  padding: 0.6em 2em;
  border-radius: 20px;
  border-color: #3d81d2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.fondo {
  background-image: url('../../assets/bg_web.png');
  background-size: cover;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sora';

}

.example-toolbar {
  background-color: #6c7070;
  color: white;
  height: 40px;
}

.img-profile-sidebar {
  background-color: #fd9f48;
}

.img-profile {
  width: 60px;

}

.div-img-profile {
  margin: 2%;
}

.mat-list-item {
  margin-right: 4%;
}

.module {
  margin: 0 0 1em 0;
  overflow: hidden;
}


.line-clamp-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.containerScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.containerScroll::-webkit-scrollbar {
  display: none;
}