<app-navbar></app-navbar>

<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <searchBar></searchBar>
      </div>
    </div>
    <section class="section-categorias">
        <div class="row">
          <ng-container *ngFor="let categoria of categories">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
              <div class="card text-white card-categoria">
                <img
                  src="{{categoria.imgUrl}}"
                  class="card-img"
                  alt="category_img"
                />
              </div>
            </div>
          </ng-container>
        </div>
    </section>

    <section class="section-servicios">
      <div class="row my-5">
        <div class="col-2 col-sm-2 col-md-2 d-flex justify-content-end">
          <img class="img-servicio" src="../../assets/assistance.png" alt="" />
        </div>
        <div
          class="col-2 col-sm-2 col-md-2 d-flex justify-content-center align-self-center"
        >
          <span class="texto-servicios">Soporte Online 24h</span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 d-flex justify-content-end">
          <img
            class="img-servicio"
            src="../../assets/credit-cards.png"
            alt=""
          />
        </div>
        <div
          class="col-2 col-sm-2 col-md-2 d-flex justify-content-center align-self-center"
        >
          <span class="texto-servicios">Soporte Online 24h</span>
        </div>
        <div class="col-2 col-sm-2 col-md-2 d-flex justify-content-end">
          <img
            class="img-servicio"
            src="../../assets/entrega-rapida.png"
            alt=""
          />
        </div>
        <div
          class="col-2 col-sm-2 col-md-2col-2 col-sm-2 col-md-2 d-flex justify-content-center align-self-center"
        >
          <span class="texto-servicios">Soporte Online 24h</span>
        </div>
      </div>
    </section>

    <section class="section-slider-productos">
      <div class="row justify-content-center my-5">
        <div class="col-12">
          <slider-component></slider-component>
        </div>
      </div>
    </section>

    <section class="section-productos my-5">
      <h2 class="titulo-mas-vendidos text-center m-5">
        {{ "home.mas_vendidos" | translate }}
      </h2>
      <div class="row my-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-producto">
            <img src="../../assets/nike.png" alt="..." />
            <div class="card-body body-producto">
              <h5 class="card-info">Moda</h5>
              <h2 class="card-title">Nike Jordan High</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a
                [routerLink]="['../product']"
                class="btn btn-primary btn-comprar-producto"
                >{{ "home.comprar_btn" | translate }}</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-producto">
            <img src="../../assets/nike.png" alt="..." />
            <div class="card-body body-producto">
              <h5 class="card-info">Moda</h5>
              <h2 class="card-title">Nike Jordan High</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-comprar-producto">{{
                "home.comprar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-producto">
            <img src="../../assets/nike.png" alt="..." />
            <div class="card-body body-producto">
              <h5 class="card-info">Moda</h5>
              <h2 class="card-title">Nike Jordan High</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-comprar-producto">{{
                "home.comprar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-producto">
            <img src="../../assets/nike.png" alt="..." />
            <div class="card-body body-producto">
              <h5 class="card-info">Moda</h5>
              <h2 class="card-title">Nike Jordan High</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-comprar-producto">{{
                "home.comprar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-slider-tiendas my-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <slider-component></slider-component>
        </div>
      </div>
    </section>

    <section class="section-tiendas my-5">
      <h2 class="titulo-mas-vendidos text-center my-5">
        {{ "home.tiendas_destacadas" | translate }}
      </h2>
      <div class="row pb-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-tienda">
            <img
              src="../../assets/happy_market.png"
              class="card-img-top img-tienda"
              alt="..."
            />
            <div class="card-body card-body-tiendas">
              <i class="bi bi-geo-alt"></i>
              <h5 class="card-info">C/Balmes 29</h5>
              <h2 class="card-title">Happy Market</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-visitar-tienda">{{
                "home.visitar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-tienda">
            <img
              src="../../assets/happy_market.png"
              class="card-img-top img-tienda"
              alt="..."
            />
            <div class="card-body card-body-tiendas">
              <i class="bi bi-geo-alt"></i>
              <h5 class="card-info">C/Balmes 29</h5>
              <h2 class="card-title">Happy Market</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-visitar-tienda">{{
                "home.visitar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-tienda">
            <img
              src="../../assets/happy_market.png"
              class="card-img-top img-tienda"
              alt="..."
            />
            <div class="card-body card-body-tiendas">
              <i class="bi bi-geo-alt"></i>
              <h5 class="card-info">C/Balmes 29</h5>
              <h2 class="card-title">Happy Market</h2>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-visitar-tienda">{{
                "home.visitar_btn" | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<footer-component></footer-component>
