.card-categoria {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img {
  margin-top: 10%;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.cardLong {
  border-radius: 20px;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img-long {
  height: auto;
  width: 60%;
  margin-left: 17%;
}

.img-servicio {
  width: 40%;
}


.titulo-mas-vendidos {
  font-size: 4vh;
  margin-top: 3%;
}

.card-producto {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.body-producto {
  background-color: #E9E9E9;
  border-radius: 0px 0px 20px 20px;

}

.card-body-tiendas {
  text-align: center;
  background-color: #e9e9e965;
  border-radius: 0px 0px 20px 20px;

}


.btn-comprar-producto {
  background-color: #fd9f48;
  padding: 0.6em 2em;
  color: black;
  border-radius: 20px;
  border-color: #fd9f48;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-tienda {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.img-tienda {
  border-radius: 20px;
}

.btn-visitar-tienda {
  background-color: #3d81d2;
  padding: 0.6em 2em;
  border-radius: 20px;
  border-color: #3d81d2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.fondo {
  background-image: url('../../assets/bg_web.png');
  background-size: cover;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sora';

}

.example-toolbar {
  background-color: #6c7070;
  color: white;
  height: 40px;
}

.img-profile-sidebar {
  background-color: #fd9f48;
}

.img-profile {
  width: 60px;

}

.div-img-profile {
  margin: 2%;
}

.mat-list-item {
  margin-right: 4%;
}