.divCarousel {
  /* border-radius: 10%; */
  background: rgb(171, 171, 171);
  background: linear-gradient(180deg, rgba(171, 171, 171, 1) 0%, rgba(233, 233, 233, 1) 100%);
  height: 100%;
}

.mainSlider {
  margin-bottom: 20px;
}

/* TODO BORDER-RADIUS PARA EL DIV DEL CAROUSEL */
/*.imgGallery {
  border-radius: 10%;
} */

img {
  width: 20%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  padding: 200% 35px;


}

.carousel-control-prev-icon:active {
  border: 1px solid black;
  background-color: #fd9f48;
  transform: scale(0.85);
  opacity: 0.8;
}

.carousel-control-next-icon:active {
  border: 1px solid black;
  background-color: #fd9f48;
  transform: scale(0.85);
  opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-indicators>button {
  background-color: transparent;
  border: 0px;

}