.divCarousel {
  /* border-radius: 10%; */

  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(233, 233, 233, 1) 80%);
  height: 100%;
}

.mainSlider {

  margin-bottom: 20px;
}

/* TODO BORDER-RADIUS PARA EL DIV DEL CAROUSEL */
/*.imgGallery {
  border-radius: 10%;
} */

img {
  width: 20%;
  /* TODO BORDER-RADIUS PARA LA IMG */
  /* border-radius: 10%; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fd9f48;
  opacity: 0.8;
}