.spanSpacer {
    margin: 10px;
    padding: 10px;
}
.drawerImg {
    width: 25px;
}
.mat-toolbar.mat-primary {
    background: #ffd077;
    color: black;
}
.nearmeLogo {
    width: 200px;
}
.mat-primary {
    /* TODO AZUL-CLARO: #77afff AZUL-OSCURO: #0054a0 */
    background-color: #0054a0;
    color: white;
}