<app-navbar></app-navbar>
<div class="fondo">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row my-5">
            <ng-container *ngFor="let tienda of tiendas">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                <div class="card card-producto">
                  <img class="card-img" src="{{ tienda.imgUrl }}" alt="..." />
                  <div class="card-body body-producto">
                    <h5 class="card-info">{{ tienda.geo }}</h5>
                    <h2 class="card-title module line-clamp-title">
                      <b>{{ tienda.name }}</b>
                    </h2>
                    <p class="card-text module line-clamp-text">
                      {{ tienda.description }}
                    </p>
                    <div class="btn-price-holder">
                      <a
                        [routerLink]="['/tienda', tienda.idSupplier]"
                        class="btn btn-primary btn-comprar-producto"
                        >{{ "home.visitar_btn" | translate }}</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
