/*TODO*/
.fondo{
    background-size:cover;

  }

  .mainContainer {
    border-radius: 20px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 4px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0;
}

input {
	border-radius: 30px;
}


.btnSave {
	border-radius: 30px;
	border: 1px solid #3D81D2;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: white;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
  width: 30%;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
