<footer class="bg-white">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 row-footer">
        <div class="row">
          <img class="footer-logo" src="../../assets/NearMe_logo.png" alt="" />
        </div>
        <div class="row">
          <p class="texto-inicial">
            {{"footer.lorem_ipsum_text" | translate}}
          </p>
        </div>
        <div class="row">
          <div class="col-12">
              <a href="https://www.facebook.com/NearMe-116168281091148" class="px-4"><i class="bi bi-facebook redes"></i></a>
              <a href="https://www.instagram.com/nearmedaw2/" class="px-4"><i class="bi bi-instagram redes"></i></a>
              <a href="https://twitter.com/_NearMe_" class="px-4"><i class="bi bi-twitter redes"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h4>{{ "footer.quickLinks" | translate }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['..']">{{ "footer.home" | translate }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../contacta']">
              {{"footer.contact" | translate}}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../cookies']">{{ "footer.cookies" | translate }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../privacidad']">
              {{"footer.privacy" | translate}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h4>{{ "footer.aboutUs" | translate }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../aboutus']">
              {{"footer.whoWeAre" | translate}}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../faq']">
              {{"footer.freqQuestions" | translate}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h4>Premium</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-links">
            <a [routerLink]="['../premium']">
              {{"footer.premium" | translate}}
            </a>
          </div>
        </div>
    </div>
    <div class="row row-subfooter">
        <div class="col-md-12">
            <h5>www.nearme.com.es</h5>
        </div>
    </div>
</footer>