<app-navbar></app-navbar>
<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <searchBar></searchBar>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <sidebarFiltros-component></sidebarFiltros-component>
      </div>
      <div class="col-10">
        <div class="album py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card card-producto">
                  <img src="../../assets/nike.png" alt="..." />
                  <div class="card-body body-producto">
                    <h5 class="card-info">Moda</h5>
                    <h2 class="card-title">Nike Jordan High</h2>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a
                      [routerLink]="['../product']"
                      class="btn btn-primary btn-comprar-producto"
                      >Comprar</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card card-producto">
                  <img src="../../assets/nike.png" alt="..." />
                  <div class="card-body body-producto">
                    <h5 class="card-info">Moda</h5>
                    <h2 class="card-title">Nike Jordan High</h2>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a
                      [routerLink]="['../product']"
                      class="btn btn-primary btn-comprar-producto"
                      >Comprar</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card card-producto">
                  <img src="../../assets/nike.png" alt="..." />
                  <div class="card-body body-producto">
                    <h5 class="card-info">Moda</h5>
                    <h2 class="card-title">Nike Jordan High</h2>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a
                      [routerLink]="['../product']"
                      class="btn btn-primary btn-comprar-producto"
                      >Comprar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
