<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped shoppingCartTable">
                <thead>
                  <tr>
                    <th class="imgColumn">{{ "shopping_cart.shopping_cart_image_column" | translate }}</th>
                    <th class="productColumn">{{ "shopping_cart.shopping_cart_product_column" | translate }}</th>
                    <th class="quantityColumn">{{ "shopping_cart.shopping_cart_quantity_column" | translate }}</th>
                    <th class="priceColumn">{{ "shopping_cart.shopping_cart_price_column" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- TODO RENDERIZAR DATOS MEDIANTE EL *ngFor -->
                  <tr *ngFor="let item of cartItemsArray">
                    <td>
                      <img src="{{item.image}}" alt="{{item.name}}" class="img-responsive"/>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price | currency:'EUR':true}}</td>
                  </tr>
                  <!-- <tr>
                    <td class="imgTd">
                      <img src="assets/nike.png" class="itemImg"/>
                    </td>
                    <td class="itemName">Zapas Nike</td>
                    <td class="itemQuantity">1</td>
                    <td class="itemPrice">199,99</td>
                  </tr> -->
                  <!-- <tr>
                    <td class="imgTd">
                      <img src="assets/nike.png" class="itemImg"/>
                    </td>
                    <td>Zapas Nike</td>
                    <td>1</td>
                    <td>199,99</td>
                  </tr>
                  <tr>
                    <td class="imgTd">
                      <img src="assets/nike.png" class="itemImg"/>
                    </td>
                    <td>Zapas Nike</td>
                    <td>1</td>
                    <td>199,99</td>
                  </tr>
                  <tr>
                    <td class="imgTd">
                      <img src="assets/nike.png" class="itemImg"/>
                    </td>
                    <td>Zapas Nike</td>
                    <td>1</td>
                    <td>199,99</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3 id="orderTotal" class="orderTotal">Order Total:</h3>
              <!-- <h3>Order Total: {{total | currency:'EUR':true}}</h3> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success btnCheckout">{{ "shopping_cart.shopping_cart_btn_checkout" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>

<!-- TODO CÓDIGO SHOPPING CART ERIK -->
<!-- <div class="row">
    <div class="col-lg-8 items">
      <h1>Shopping Cart</h1>
      <span></span>
    </div>
    <div class="col-lg-4 payment">
      <div class="row">
        <div class="col-10">
          <h2>Card Details</h2>
        </div>
        <div class="col-2">
          <img class="imgProfile" src="../../assets/nick.png" alt="" />
        </div>
      </div>

      <form action="submit">
        <span>Card Type</span>
        <div class="row">
          <div class="col-4"><p>MASTERCARD</p></div>
          <div class="col-4"><p>PAYPAL</p></div>
          <div class="col-4"><p>VISA</p></div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="cardName" class="form-label">Name on Card</label>
            <input
              type="text"
              class="form-control"
              id="cardName"
              placeholder="Name on Card"
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="cardNumber" class="form-label">Password</label>
            <input
              type="number"
              class="form-control"
              id="cardNumber"
              placeholder="Card Number"
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="expirationDate" class="form-label"
              >Expiration Date</label
            >
            <input type="date" class="form-control" id="expirationDate" />
          </div>
          <div class="fmb-3 col-md-6">
            <label for="cvv" class="form-label">CVV</label>
            <input
              type="number"
              class="form-control"
              id="cvv"
              placeholder="XXX"
            />
          </div>
        </div>

        <hr />

        <div class="row totals">
          <div class="col-8">
            <p>Subtotal</p>
            <p>Shipping</p>
            <p>Total (iva incl.)</p>
          </div>
          <div class="col-4">
            <p>2000.00€</p>
            <p>20.00€</p>
            <p>2020.00€</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-checkout">
          2020.00€ Checkout
        </button>
      </form>
    </div>
  </div> -->
