<script src="script.js" defer></script>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<div class="formDiv">
			<form action="#">
				<h1>Log in</h1>
				<div class="social-container">
					<a href="#" class="social"><img class="socialNetworkImg" src="../../assets/facebook.png"></a>
					<a href="#" class="social"><img class="socialNetworkImg" src="../../assets/google.png"></a>
				</div>
				<span>or use your account</span>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button>Log In</button>
			</form>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<img src="assets/NearMe_logo.png" class="nearmeLogo" alt="nearmeLogo">
				<!-- <p>Enter your personal details and start journey with us</p> -->
				<a [routerLink]="['../register']" data-hover="Register"><button>Register</button></a>
			</div>
		</div>
	</div>
</div>