<div class="container">
  <div class="row">
    <div class="col-md-6 colInputs">
      <div class="row">
        <div class="col">
          <h2>{{ "register.welcome" | translate }}</h2>
          <img
            src="assets/NearMe_logo.png"
            class="nearmeLogoSmall"
            alt="nearmeLogo"
          />
          <p>{{ "register.loginSession" | translate }}</p>
        </div>
      </div>
      <form
        class="formLogin"
        #loginUserForm="ngForm"
        name="loginUserForm"
        (ngSubmit)="sendLoginUserData(); loginUserForm.reset()"
      >
        <div class="input-icons">
          <i class="fa fa-user icon"></i>
          <input
            type="email"
            class="input-field"
            name="inputEmail"
            placeholder='{{ "register.email" | translate }}'
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="input-icons mt-2">
          <i class="fa-solid fa-unlock icon"></i>
          <input
            type="password"
            class="input-field"
            name="inputPassword"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
            placeholder='{{ "register.password" | translate }}'
            required
          />
        </div>
        <button type="submit" class="mt-4">{{ "register.login_btn" | translate }}</button>
      </form>

      <p>
        {{ "login.dont_have_account" | translate }}
        <b>
          <a [routerLink]="['../register']" data-hover="Register">
            {{ "login.sign_up_now" | translate }}
          </a>
        </b>
      </p>

      <div class="or">
        <span> {{ "login.or" | translate }}</span>
      </div>
      <p>{{ "login.continue_with_social_media" | translate }}</p>
      <div class="social-container">
        <a href="#"
          ><img class="socialNetworkImg" src="../../assets/facebookIcon.png"
        /></a>
        <a href="#"
          ><img class="socialNetworkImg" src="../../assets/googleIcon.png"
        /></a>
      </div>
    </div>

    <div class="col-md-6 backgroundLogin">
      <div class="row text-center">
        <div class="col">
          <img
            src="assets/NearMe_logo.png"
            class="nearmeLogo"
            alt="nearmeLogo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
