<app-navbar></app-navbar>
<div class="fondo">
  <div class="container-fluid">
    <div class="row">
      <div class="wrapper d-flex align-items-stretch p-0">
        <nav id="sidebar" class="active bg-white">
          <div class="profile">
            <img src="assets/nick.png" alt="Image" class="img-fluid" />
            <h1 class="name">Hola Zapas</h1>
          </div>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a [routerLink]="['/dashboard']"
                ><span class="fa fa-home"></span>
                {{ "company.dashboard" | translate }}</a
              >
            </li>

            <li>
              <a [routerLink]="['/dashboard/productList']"
                ><span class="fa fa-box"></span>
                {{ "company.products" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/pedidosList']"
                ><span class="fa fa-bell"></span>
                {{ "company.pedidos" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/companyProfile']"
                ><span class="fa fa-comments"></span>
                {{ "company.profile" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/companyProfile']"
                ><span class="fa fa-sliders-h"></span>
                {{ "company.settings" | translate }}</a
              >
            </li>
          </ul>
        </nav>

        <div id="content" class="p-4 p-md-5">
          <div class="col-md-12">
            <mat-toolbar class="tooltipBtn">
              <button
                type="button"
                id="sidebarCollapse"
                class="btn btn-primary"
                onclick="toggleCompany()"
              >
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
              </button>
              <h1 class="m-4">Dashboard</h1>
            </mat-toolbar>

            <div class="row">
              <div
                class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around"
              >
                <div class="card cardInfoPrincipal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <h3>Total Generado</h3>
                      </div>
                      <div class="col-4">
                        <img
                          class="iconsInfo"
                          src="../../assets/total.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <h3 class="card-text">2.211€/mes</h3>
                    <div class="progress mt-4" style="height: 4px">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        style="width: 75%"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="prevMonth">
                      <span>Mes Anterior</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around"
              >
                <div class="card cardInfoPrincipal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <h3>Pedidos Totales</h3>
                      </div>
                      <div class="col-4">
                        <img
                          class="iconsInfo"
                          src="../../assets/pedidos.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <h3 class="card-text">441 mes</h3>
                    <div class="progress mt-4" style="height: 4px">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        style="width: 75%"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="prevMonth">
                      <span>Mes Anterior</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around"
              >
                <div class="card cardInfoPrincipal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <h3>Suscripción</h3>
                      </div>
                      <div class="col-4">
                        <img
                          class="iconsInfo"
                          src="../../assets/suscripcion.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <h3 class="card-text">GOLD</h3>
                    <div class="priceSub">
                      <span>29,99€/mes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="cardInfoCharts">
                  <barSalesChart-component></barSalesChart-component>
                </div>
              </div>
              <div class="col-md-5">
                <div class="cardInfoCharts">
                  <ventasSemanales-component></ventasSemanales-component>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer-component></footer-component>
    </div>
  </div>
</div>
