<app-navbar></app-navbar>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img class="card-img-top" src="assets/nike.png" alt="Card image cap">
        <h3 class="card-title">Nike Dunk High Retro</h3>
        <h5 class="card-subtitle mb-2 text-muted">Nike, Prat del Llobregat</h5>
        <p class="card-text">Descripción del producto</p><hr>
        <p class="card-text">
            El icono del baloncesto de los 80, creado para la cancha y adaptado al estilo urbano,
            vuelve con revestimientos brillantes y los colores  universitarios de las zapatillas originales.
        </p>
        <p class="card-text">
            Color mostrado: Blanco/Cargo Khaki
        </p>
        <a href="#" class="card-link">Comprar</a>
        <a href="#" class="card-link">Ver en la web</a>
    </div>
</div>
<footer-component>/</footer-component>