<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <h1 class="about__title">
        {{ "about_us.who_we_are" | translate }}
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6">
      <p class="mb-2 pAboutUs">
        {{ "about_us.text_1" | translate }}
      </p>
      <p class="mb-2 pAboutUs">
        {{ "about_us.text_2" | translate }}
      </p>
      <p class="mb-2 pAboutUs">
        {{ "about_us.text_3" | translate }}
      </p>
      <p class="mb-2 pAboutUs">
        {{ "about_us.text_4" | translate }}
      </p>
      <div class="row mt-5 justify-content-around">
        <div class="col-3">
          <div class="experience__item">
            <h2><b>70+</b></h2>
            <h5 class="font-semibold">{{ "about_us.active_suscriptions" | translate }}</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="experience__item">
            <h2><b>80+</b></h2>
            <h5 class="font-semibold">
              {{ "about_us.satisfied_companies" | translate }}
            </h5>
          </div>
        </div>
        <div class="col-3">
          <div class="experience__item">
            <h2><b>100+</b></h2>
            <h5 class="font-semibold">
              {{ "about_us.neighborhoods" | translate }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="assets/images/about.jpg" alt="About" />
    </div>
  </div>
  <div class="team py-5 row d-flex justify-content-around mt-5">
    <div class="col-12">
      <h2 class="text-center mb-4 ourTeam">
        {{ "about_us.our_team" | translate }}
      </h2>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo" />
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Erik Gasull</h3>
          <h6 class="designation">Full Stack Developer</h6>
        </div>
        <div class="member__social px-2">
          <div class="row">
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/erik-gasull-53b2351b2/" class="items-center justify-center p-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/kiregas?tab=repositories" class="items-center justify-center p-2">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo"/>
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Javi Barrientos</h3>
          <h6 class="designation">Frontend Developer</h6>
        </div>
        <div class="member__social px-2">
          <div class="row">
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/javi-barrientos-peralta/" class="items-center justify-center p-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/JaviBarrientos17" class="items-center justify-center p-2">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo" />
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Aleix Blanch</h3>
          <h6 class="designation">Full Stack Developer</h6>
        </div>
        <div class="member__social px-2">
          <div class="row">
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/erik-gasull-53b2351b2/" class="items-center justify-center p-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/kiregas?tab=repositories" class="items-center justify-center p-2">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>

<!-- TODO FUNCIONA EL BUILD ELIMINANDO LOS BUDGETS DE angular.json -->
<!-- TODO https://www.youtube.com/watch?v=cPF64tZVKKM -->
<!-- TODO COMANDO DE EJECUCIÓN ng build --prod EN LA CARPETA NearMeClient -->