<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <h1 class="about__title">Somos un grupo</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio,
        perferendis, magnam accusantium reiciendis assumenda repellat in qui,
        quos dolor esse quibusdam illum necessitatibus labore officia tempore
        modi placeat dolores!
      </p>
      <p class="mb-2">
        lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure doley.
      </p>
      <div class="row mt-5">
        <div class="col-3">
          <div class="experience__item">
            <h2><b>367+</b></h2>
            <h6 class="font-semibold">SUCCEEDED PROJECT</h6>
          </div>
        </div>
        <div class="col-3">
          <div class="experience__item">
            <h2><b>500+</b></h2>
            <h6 class="font-semibold">HAPPY CLIENT</h6>
          </div>
        </div>
        <div class="col-3">
          <div class="experience__item">
            <h2><b>12+</b></h2>
            <h6 class="font-semibold">YEARS OF EXPERIENCE</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="assets/images/about.jpg" alt="About" />
    </div>
  </div>
  <div class="team py-5 row d-flex justify-content-around mt-5">
    <div class="col-12">
      <h2 class="text-center mb-4">Our Creative, a Rockin' Team</h2>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo" />
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Erik Gasull</h3>
          <h6 class="designation">Full Stack Developer</h6>
        </div>
        <div class="member__social px-4">
          <div class="row">
            <div class="col-1 m-2">
              <a href="" class="items-center justify-center p-2">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/erik-gasull-53b2351b2/"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/kiregas?tab=repositories"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo" />
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Javier Barrientos</h3>
          <h6 class="designation">Full Stack Developer</h6>
        </div>
        <div class="member__social px-4">
          <div class="row">
            <div class="col-1 m-2">
              <a href="" class="items-center justify-center p-2">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/erik-gasull-53b2351b2/"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/kiregas?tab=repositories"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="member">
        <div class="member__image">
          <img src="assets/images/nosotros/erik.png" alt="Team photo" />
        </div>
        <div class="member__desc px-4 pb-2">
          <h3 class="name m-0">Aleix Blanch</h3>
          <h6 class="designation">Full Stack Developer</h6>
        </div>
        <div class="member__social px-4">
          <div class="row">
            <div class="col-1 m-2">
              <a href="" class="items-center justify-center p-2">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://www.linkedin.com/in/erik-gasull-53b2351b2/"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
            <div class="col-1 m-2">
              <a
                href="https://github.com/kiregas?tab=repositories"
                class="items-center justify-center p-2"
                ><i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer-component></footer-component>
