<app-navbar></app-navbar>

<div class="container fondo">
  <div class="row">
    <div class="col-md-6">
      <div class="background">
        <div class="row">
          <div class="col d-flex justify-content-center align-self-center">
            <h2>Premium For Clients</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              If you want to be premium it is because you probably want to
              change things. Do you want to big up your neighbourhood and give
              more importance to your local vendors? This is what we do here!!
              With NearMe Premium offers you a discount on your orders, because
              you don't have to pay a percentage of your order amount. This way
              allows you to buy new products from small shops near your
              location, making small shops increase their sales and not fall
              into decline. With NearMe Premium you can:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <tr>
              <td>- Access products and services before other users.</td>
            </tr>
            <tr>
              <td>- Enjoy the promotions and awesome discounts.</td>
            </tr>
            <tr>
              <td>- Enjoy full free home delivery.</td>
            </tr>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="divIcons">
            <div class="row d-flex justify-content-center align-self-center">
              <div
                class="col-md-3 d-flex justify-content-center align-self-center icons"
              >
                <img src="../../assets/truck.png" alt="" />
              </div>
              <div
                class="col-md-3 d-flex justify-content-center align-self-center icons"
              >
                <img src="../../assets/cancell.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center align-self-center">
            <button type="button" class="btn btn-primary btnPremiumClients">
              Hazte Premium
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="background">
        <div class="row">
          <div class="col d-flex justify-content-center align-self-center">
            <h2>Premium For Companies</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              Are you a small local company and you want to expand and reach
              more people? Well, so with NearMe Premium Pro you can choose among
              2 different subscriptions that provides your company with
              different advantatges
            </p>
          </div>
        </div>
        <div class="row">
          <div class="divIcons">
            <div class="row d-flex justify-content-center align-self-center">
              <div
                class="col-md-3 d-flex justify-content-center align-self-center icons"
              >
                <img src="../../assets/truck.png" alt="" />
              </div>
              <div
                class="col-md-3 d-flex justify-content-center align-self-center icons"
              >
                <img src="../../assets/cancell.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center align-self-center">
            <button type="button" class="btn btn-primary btnPremiumCompanies">
              Hazte Premium
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer-component></footer-component>
