<div style="width: 230px">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <p>Premium</p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
    <br />

    <li>
      <p>Categoria</p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
    <br />
    <li>
      <p>Marca</p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
    <br />

    <li>
      <p>Material</p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
    <br />

    <li>
      <p>Color</p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
  </ul>
  <hr />
</div>
