<div style="width: 230px">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <p><b>Premium</b></p>
      <input
        type="checkbox"
        name="premium"
        id="checkPremium"
      />&nbsp;&nbsp;&nbsp;Premium
    </li>
    <br />
    <li>
      <p><b>Categoria</b></p>

      <ng-container
        *ngFor="let subcategoria of subcategories; let i; as: index"
      >
        <ng-container *ngIf="idCategory == subcategoria.parent">
          <li class="nav-item">
            <input
              type="checkbox"
              id="checkPremium"
              [routerLink]="[
                '/products/category',
                subcategoria.parent,
                subcategoria.idCategory
              ]"
            />&nbsp;&nbsp;&nbsp;{{ subcategoria.name }}
          </li>
        </ng-container>
      </ng-container>
    </li>
    <br />
    <li>
      <p><b>Marca</b></p>
    </li>
    <br />
    <li>
      <p><b>Material</b></p>
    </li>
    <br />

    <li>
      <p><b>Color</b></p>
    </li>
  </ul>
</div>
