<div class="container">
  <div class="row">
    <div class="col-lg-5 logoImg">
      <img src="assets/NearMe_logo.png" class="nearmeLogo" alt="nearmeLogo" />
      <a [routerLink]="['../login']" data-hover="Login"
        ><button>Inicia Sesión</button></a
      >
      <div class="row">
        <div class="cold-md-6">
          <div class="row">
            <a [routerLink]="['../']"
              ><span class="spanLinks"
                ><i class="bi bi-arrow-left"></i>&nbsp;Home</span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 form">
      <div class="fondo">
        <div class="row">
          <div class="col">
            <h1 class="formTitle">Registro</h1>
          </div>
        </div>
        <form
          action="submit"
          #insertUserForm="ngForm"
          name="insertNewUserForm"
          (ngSubmit)="insertUser(); insertUserForm.reset()"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="formName" class="inputLabel">Nombre</label>
                <input
                  type="text"
                  class="inputLabel"
                  placeholder="Nombre"
                  [(ngModel)]="name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="mb-3">
                  <label class="inputLabel" for="formSurname">Apellidos</label>
                  <input
                    type="text"
                    class="inputLabel"
                    name="inputSurname"
                    [(ngModel)]="surname"
                    placeholder="Apellidos"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="inputLabel" for="inputEmail">Email</label>
                <input
                  type="email"
                  class="inputForm"
                  name="inputEmail"
                  [(ngModel)]="email"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="mb-3">
                  <label for="formTel" class="inputLabel">Teléfono</label>
                  <input
                    type="tel"
                    class="inputLabel"
                    [(ngModel)]="phone"
                    placeholder="Teléfono"
                    required=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="formPassword" class="inputLabel">Contraseña</label>
                <input
                  type="password"
                  class="inputLabel"
                  [(ngModel)]="password"
                  placeholder="Contraseña"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="mb-3">
                  <label for="formRepeatPassword" class="inputLabel"
                    >Repetir Contraseña</label
                  >
                  <input
                    type="password"
                    class="inputLabel"
                    [(ngModel)]="password"
                    required
                    placeholder="Contraseña"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="social-container">
              <a href="#" class="social"
                ><img class="socialNetworkImg" src="../../assets/facebook.png"
              /></a>
              <a href="#" class="social"
                ><img class="socialNetworkImg" src="../../assets/google.png"
              /></a>
            </div>
          </div>
          <div class="row">
            <label
              ><input type="checkbox" value="first_checkbox" />Accept the terms
              of use and privacy</label
            >
          </div>

          <button type="submit">Registrate</button>
        </form>
      </div>
    </div>
  </div>
</div>
