<script src="script.js" defer></script>
<div class="container" id="container">
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <img src="assets/NearMe_logo.png" class="nearmeLogo" alt="nearmeLogo">
                <a [routerLink]="['../login']" data-hover="Register"><button>Log in</button></a>
                <div class="row">
                    <div class="cold-md-6">
                        <div class="row">
                            <!-- <a [routerLink]="['../login']"><span><i class="bi bi-arrow-left"></i>&nbsp;Login</span></a> -->
                            <a [routerLink]="['../']"><span class="spanLinks"><i class="bi bi-arrow-left"></i>&nbsp;Homepage</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-container sign-in-container">
                <form action="#" class="formLogin">
                    <h1 class="formTitle">Register</h1>
                    <span></span>
                    <label class="inputLabel" for="inputEmail">Email</label>
                    <input type="email" class="inputForm" id="inputEmail" placeholder="Email" />
                    <label class="inputLabel" for="inputPassword">Password</label>
                    <input type="password" class="inputForm" id="inputPassword" placeholder="Password" />
                    <label for="inputPassword">Repeat password</label>
                    <input type="password" class="inputForm" id="inputPassword" placeholder="Repeat password" />
                    <div class="social-container">
                        <a href="#" class="social"><img class="socialNetworkImg" src="../../assets/facebook.png"></a>
                        <a href="#" class="social"><img class="socialNetworkImg" src="../../assets/google.png"></a>
                    </div>
                    <div class="checkboxDiv d-flex justify-content-center">
                        <input type="checkbox" class="form-check-input" name="checkboxTerms" id="checkboxTerms"><label
                            class="inputLabelCheckbox">&nbsp;Accept the terms of use and privacy</label>
                    </div><br>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>