@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/*TODO*/

* {
	box-sizing: border-box;
	text-align: center;
}
.container {
	background-color: #fd9f48;
	border-radius: 30px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	margin:5%
}



.logoImg {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	right: 0;
}

.nearmeLogo {
	width: 100%;
}

.fondo{
	margin: 5%;
	background-color: white;
	border-radius: 30px;
}
.formTitle {
	font-size: 4em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #fd9f48;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	margin-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: black;
}


input {
	background-color: #eee;
	border: none;
	border-radius: 30px;
	padding: 12px 15px;
	width: 100%;
}


.spanLinks {
	font-size: 15px;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid black;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 60px;
	width: 60px;
}


.socialNetworkImg {
	width: 50%;
}

.form-check-input {
	width: 5px;
}