@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	text-align: center;
}

.nearmeLogoSmall {
	width: 40%;
}

.logoImg {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	right: 0;
}

.input-icons i {
	position: absolute;
}
  
.input-icons {
	width: 100%;
}
  
.icon {
	padding: 13px;
	min-width: 40px;
}
  
.input-field {
	width: 70%;
	max-width: 500px;
	padding: 10px;
	text-align: center;
	margin-bottom: 3px;
}

.fondo{
	margin: 5%;
	background-color: white;
	border-radius: 30px;
}
.formTitle {
	font-size: 4em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


button {
	border-radius: 30px;
	border: 1px solid #fd9f48;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: white;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	width: 70%;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: black;
}


input {
	border-radius: 30px;
}

.input-field {
	width: 70%;
	max-width: 500px;
	padding: 10px;
	text-align: center;
	margin-bottom: 3px;
}


.spanLinks {
	font-size: 15px;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid black;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 60px;
	width: 60px;
}


.socialNetworkImg {
	width: 50%;
}

.form-check-input {
	width: 5px;
}

#inlineRadio1,#inlineRadio2{
	width: 15px;
}

#flexSwitchCheckChecked{
	width:30px;
}

.inputRight{
	text-align: right;
}
.inputLeft{
	text-align: left;
}
.inputCenter{
	text-align: center;
}

.backgroundLogin {
	background-image: url('../../assets/barcelonaLogin.png');
	height: 100%;
	max-width: 100%;
	background-size: cover;
	height: auto;
}

.backgroundLogin {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
}

.colInputs {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.nearmeLogo {
    width: 50%;
    height: 25%;
    top: 25%;
    left: 25%;
    position: absolute;
}

.lema {
    margin-top: 45%;
    height: 25%;
    left: 25%;
    font-weight: 900;
    font-size: 25px;
	color: rgba(255, 255, 255, 0.9);
}