<app-navbar></app-navbar>
<div class="fondo">
  <div class="container-fluid">
    <div class="row">
      <!--SIDEBAR-->
      <div class="wrapper d-flex align-items-stretch p-0">
        <nav id="sidebar" class="active bg-white">
          <div class="profile">
            <img src="assets/nick.png" alt="Image" class="img-fluid" />
            <h1 class="name">Hola Zapas</h1>
          </div>

          <ul class="list-unstyled components mb-5">
            <li>
              <a [routerLink]="['/dashboard']"
                ><span class="fa fa-home"></span>
                {{ "company.dashboard" | translate }}</a
              >
            </li>

            <li class="active">
              <a [routerLink]="['/dashboard/productList']"
                ><span class="fa fa-box"></span>
                {{ "company.products" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/pedidosList']"
                ><span class="fa fa-bell"></span>
                {{ "company.pedidos" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/companyProfile']"
                ><span class="fa fa-comments"></span>
                {{ "company.profile" | translate }}</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/companyProfile']"
                ><span class="fa fa-sliders-h"></span>
                {{ "company.settings" | translate }}</a
              >
            </li>
          </ul>
        </nav>

        <div id="content" class="p-4 p-md-5">
          <mat-toolbar class="tooltipBtn">
            <button
              type="button"
              id="sidebarCollapse"
              class="btn btn-primary"
              onclick="toggleCompany()"
            >
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <h1 class="m-4">Productos</h1>
            <button
              mat-fab
              color="primary"
              aria-label=""
              routerLink="/dashboard/newProduct"
            >
              <i class="fa fa-plus icon"></i>
            </button>
            <button
              [class.text-accent]="view === 'grid'"
              (click)="view = 'grid'"
              mat-icon-button
              class="view__btn"
            >
              <mat-icon>grid_view</mat-icon>
            </button>
            <button
              [class.text-accent]="view === 'list'"
              (click)="view = 'list'"
              mat-icon-button
              class="view__btn"
            >
              <mat-icon>list_alt</mat-icon>
            </button>
          </mat-toolbar>

          <!--CONTENIDO-->
          <div class="col-md-12 productsListBg">
            <div *ngIf="view === 'list'" class="table-inside my-4">
              <div class="mat-elevation-z8">
                <table
                  class="tableProducts"
                  mat-table
                  [dataSource]="dataSource"
                >
                  <!-- Position Column -->
                  <ng-container matColumnDef="idProduct">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let product">
                      #{{ product.idProduct }}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.name }}
                    </td>
                  </ng-container>

                  <!--
                      <!-- Weight Column -->
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.price }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="idCategory">
                    <th mat-header-cell *matHeaderCellDef>Categoria</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.idCategory }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="dateAdded">
                    <th mat-header-cell *matHeaderCellDef>Añadido</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.dateAdded }}
                    </td>
                  </ng-container>

                  <!-- actions -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let product">
                      <button
                        mat-icon-button
                        color="primary"
                        routerLink="/dashboard/editProduct/{{
                          product.idProduct
                        }}"
                      >
                        <mat-icon aria-label="Edit">create</mat-icon>
                      </button>

                      <button
                        mat-icon-button
                        color="primary"
                        (click)="deleteProduct(product.idProduct)"
                        [disabled]="product.isDeleting"
                      >
                        <mat-icon
                          aria-label="Delete"
                          *ngIf="!product.isDeleting"
                          >delete_outline</mat-icon
                        >
                        <span
                          *ngIf="product.isDeleting"
                          class="spinner-border spinner-border-sm"
                        ></span>
                      </button>
                      <button
                        mat-icon-button
                        color="primary"
                        routerLink="/product/{{ product.idProduct }}"
                      >
                        <mat-icon aria-label="View">remove_red_eye</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic product"
                >
                </mat-paginator>
              </div>
            </div>

            <div class="grid grid-cols-3" *ngIf="view === 'grid'">
              <div class="col-md-3" *ngFor="let product of products">
                <mat-card>
                  <img
                    class="m-0"
                    mat-card-image
                    src="{{ product.imgUrl }}"
                    alt=""
                  />
                  <mat-card-header class="mx-0">
                    <h3 class="text-[15px] leading-[23px]">
                      {{ product.name }}
                    </h3>
                  </mat-card-header>
                  <mat-card-actions>
                    <a
                      mat-stroked-button
                      routerLink="/product/{{ product.idProduct }}"
                      class="px-5"
                      >Ver</a
                    >
                    <a
                      mat-stroked-button
                      (click)="deleteProduct(product.idProduct)"
                      [disabled]="product.isDeleting"
                      class="px-5"
                      >Eliminar</a
                    >
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
